.container {
    border: 1px solid;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 0 4.2rem;
    height: 4rem;
}

.disable {
    background-color: #f8f8f8;
    border-color:#e5e5e5;
    color: #cbcbcb;
}

.active {
    background-color: #404fbf;
    border-color: #404fbf;
    color: #ffffff;
}

.danger {
    background-color: #ca3232;
    border-color: #ca3232;
    color: #ffffff;
}