.container {
    border: 1px solid;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 14px 42px;
}

.disable {
    background-color: #f8f8f8;
    border-color:#e5e5e5;
    color: #cbcbcb;
}
/*
.search > button {
    // background-color: #191919;
    // border-color: #191919;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    font-size: 1.2rem;
    // color: white;
    color: #cbcdcb;
    font-weight: 400;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    -webkit-appearance: none;
    &:hover {
        // background-color: #363636;
        // border-color: #363636;
    }
}
*/