.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  min-width: var(--min-window-width);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 16px;
  border: 1px solid #e5e5e5;
  width: 56%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
  .headline {
    margin-bottom: 16px;
  }
}

/* The Close Button */
.close {
  color: #191919;
  font-size: 24px;
  font-weight: bold;
  float: right;
  margin-top: -8px;
  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

.properties {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  gap: 8px;
}

.property {
  display: flex; 

}
.propertyName {
  flex-basis: 16rem;
}

.comment {
  border: 0.1rem solid #e5e5e5;
  border-radius: 0.2rem;
  height: 9.6rem;
  flex-grow: 1;
  color: #191919;
  &:focus {
      outline: 0.1rem solid #5361c5;
      border-radius: 0.2rem;
      filter: drop-shadow(0 0 0 #e2e5f5);
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.6rem;
}